@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

/* img {
  width: 100%;
  border: 0;
  vertical-align: middle;
} */

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 58%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=================================
  Header styling starts here
=================================*/
:root {
  --primary-color: #000;
  --secondary-color: #f0f8ff8f;
  --tertiary-color: #48d494;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.first-letter-caps {
  text-transform: capitalize;
}

.single-letter-caps::first-letter {
  text-transform: uppercase;
}

.all-caps {
  text-transform: uppercase;
}
header {
  padding: 20px 0;
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 4;
}

header .wrapper {
  width: 87%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #f0f8ff;
}

.hamburger {
  display: none;
}

h1 a {
  font-size: 14px;
  font-weight: 900;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list {
  font-size: 13px;
}

.nav-list a {
  padding: 5px 0px;
}

.header-right a {
  padding: 6px 12px;
  border: 0.5px solid var(--tertiary-color);
  border-radius: 3px;
  color: var(--tertiary-color);
  font-size: 11px;
}

.nav-list-a-border {
  border-bottom: 1.5px solid #f0f8ff;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner {
  position: relative;
}

.banner .wrapper {
  width: 100%;
}

.banner img {
  width: 100%;
}

.banner-content {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  color: #f0f8ff;
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  transform: translate(-50%, -50%);
}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  counter styling starts here
=================================*/
.counter {
  padding: 56px 0px;
}

.counter .wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.counter-list {
  display: flex;
  justify-content: space-between;
  /* gap: 65px; */
}

.counter-list li {
  display: flex;
  align-items: end;
  gap: 15px;
}

.counter-list span:nth-child(0) {
  color: var(--tertiary-color);
}

.icon {
  display: flex;
  text-indent: -9999px;
}

.icon::before {
  padding-bottom: 6px;
  display: flex;
  color: #1e905c;
  font-size: 31px;
  font-family: FontAwesome;
  text-indent: 0px;
}

.members::before {
  content: "\f44b";
}

.visitors::before {
  content: "\f206";
}

.health::before {
  content: "\f5d1";
}

.heart::before {
  content: "\f21e";
}

.count {
  display: flex;
  flex-direction: column;
}

.count-up {
  color: #f0f8ff;
  font-size: 30px;
  font-weight: 600;
}

.count-down {
  font-size: 11px;
}

.counter-down {
  display: flex;
  justify-content: space-between;
}

.counter-left {
  width: 40%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counter-right img {
  box-shadow: 7px 7px var(--tertiary-color);
}

.common-heading {
  padding-right: 20px;
  color: var(--tertiary-color);
  font-size: 33px;
  font-weight: 900;
}

.common-para {
  font-size: 12px;
  line-height: 21px;
}

.counter-left a {
  padding: 13px 16px;
  border-radius: 3px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 8.5px;
  font-weight: 900;
  letter-spacing: 0.5px;
}
/*=================================
  counter styling ends here
=================================*/
/*=================================
  classes styling starts here
=================================*/
.classes {
  padding: 56px 0px;
}

.classes .wrapper {
  width: 100%;
}

.classes-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  transform: translateX(-1251px);
  transition: transform 1s;
}

.common-div {
  width: 363px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.classes .common-div {
  margin-left: 21%;
}

.next-previous {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.next-previous span {
  display: flex;
  text-indent: -9999px;
}

.next-previous span::before {
  padding-top: 23px;
  display: flex;
  color: #fff;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 900;
  text-indent: 0px;
}

.next-previous-onclick {
  color: var(--tertiary-color);
}
.previous::before {
  content: "\3c";
}
.next::before {
  content: "\3e";
}
/*=================================
  classes styling ends here
=================================*/
/*=================================
  schedule styling starts here
=================================*/
.schedule {
  padding: 56px 0;
}

.days-list {
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.days-list a {
  padding: 11px 13px;
  border-radius: 3px;
  color: var(--tertiary-color);
  font-size: 12px;
}

.day-onclick {
  background-color: var(--tertiary-color);
  color: #f0f8ff;
}

.time-table {
  display: flex;
  flex-direction: column;
}

.time-table li {
  border: 0.5px solid #f0f8ffbd;
  border-left: none;
  border-top: none;
  display: flex;
}

.time-table li:first-child {
  border-top: 0.5px solid #f0f8ffbd;
}

.program {
  width: 24.5%;
  border: 0.5px solid #f0f8ffbd;
  border-bottom: none;
  border-top: none;
}

.time {
  width: 33%;
}

.trainer {
  width: 24.5%;
  border: 0.5px solid #f0f8ffbd;
  border-bottom: none;
  border-top: none;
}

.table-data {
  padding: 16px 8px;
  color: #f0f8ffbd;
  font-size: 12px;
}

.join-button {
  width: 18%;
  color: var(--tertiary-color);
  text-align: center;
}
/*=================================
  schedule styling ends here
=================================*/
/*=================================
  services styling starts here
=================================*/
.services {
  padding: 60px 0 67px;
}

.service-list {
  display: flex;
  justify-content: space-between;
}

.service-list li {
  width: 31.5%;
  padding: 35px 35px;
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  color: #f0f8ff;
}

.service-list p {
  font-size: 12px;
  line-height: 21px;
}

.service-list span {
  display: flex;
  text-indent: -9999px;
}

.service-list span::before {
  display: flex;
  font-family: "FontAwesome";
  font-size: 40px;
  text-indent: 0px;
}

.aerobics::before {
  content: "\f21e";
}
.banana::before {
  content: "\f5d1";
}
.gym::before {
  content: "\f496";
}
.service-list h4 {
  padding: 20px 0 13px;
}
/*=================================
  services styling ends here
=================================*/
/*=================================
  contact styling starts here
=================================*/
.contact {
  padding: 60px 0 67px;
  background-color: #121212;
}

.contact .wrapper {
  width: 35%;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name div {
  width: 47.9%;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1.5px solid aliceblue;
  background-color: transparent;
  font-size: 11px;
}

.contact textarea {
  height: 169px;
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.send-button button {
  padding: 13px 68px;
  border: none;
  border-radius: 3px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 8.5px;
  font-weight: 900;
  letter-spacing: 0.5px;
}
.contact p {
  padding: 12px 0 28px;
}
/*=================================
  contact styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  padding: 80px 0;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.footer-up {
  display: flex;
  justify-content: space-between;
}

footer h5 {
  margin-bottom: 15px;
  color: aliceblue;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
}

footer p {
  font-size: 11px;
  line-height: 20px;
}

.footer-left,
.footer-center,
.footer-right {
  width: 33.3%;
}
.footer-center {
  padding-left: 58px;
}

.links {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links a {
  color: var(--tertiary-color);
  font-size: 12px;
}

.subscribe-email {
  margin-top: 10px;
  display: flex;
}

.email-button input {
  padding: 8px;
  background-color: transparent;
  border: 1.5px solid aliceblue;
  border-right: none;
  font-size: 11px;
}

.subscribe-email button {
  padding: 8.5px;
  border: none;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 8px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.footer-down span {
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer-down a {
  color: var(--tertiary-color);
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1440px) {
  .wrapper {
    width: 63%;
  }
  .classes-list {
    transform: translateX(-1251px);
  }
  .classes .common-div {
    margin-left: 18.5%;
  }
  .counter-left {
    width: 48%;
  }
}

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1280px) {
  .classes-list {
    transform: translateX(-1248px);
}
}

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1024px) {
  .classes-list {
    transform: translateX(-1505px);
}
  .wrapper {
    width: 80%;
  }
  
  .classes .common-div {
    margin-left: 10%;
  }

  .contact .wrapper {
    width: 43%;
  }
}

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /*=================================
  Header styling starts here
=================================*/
  .hamburger {
    padding-top: 0;
    display: flex;
    position: relative;
  }

  .hamburger {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    transform: translateY(-6px);
  }

  .line {
    display: flex;
    line-height: 4px;
    text-indent: -9999px;
    content: "";
    width: 25px;
  }

  .hamburger:hover .line2 {
    display: none;
    transition: all 1s;
  }

  .hamburger:hover .line1 {
    transform: rotate(-45deg) translateX(0px);
    transition: transform 1s;
  }

  .hamburger:hover .line3 {
    transform: rotate(45deg) translateX(0px);
    transition: transform 1s;
  }

  .line::before {
    content: "";
    width: 17px;
    border-bottom: 3px solid var(--secondary-color);
    border-radius: 2px;
    display: inline-block;
  }
  .nav-list {
    display: none;
  }
  h1 a {
    padding-right: 745px;
  }

  .nav-list {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0%;
    background-color: #000;
    font-size: 15px;
    gap: 20px;
    text-align: center;
  }

  .nav-list a {
    color: #48d494;
  }
  .nav-list a:hover {
    color: #f0f8ff;
    cursor: pointer;
    transition: all 1s;
  }

  header .wrapper {
    width: 94%;
  }
  /*=================================
  Header styling ends here
=================================*/
  /*=================================
  banner styling starts here
=================================*/
  .banner-content {
    font-size: 50px;
  }

  .wrapper {
    width: 80%;
  }
  /*=================================
  banner styling ends here
=================================*/
  /*=================================
  counter styling starts here
=================================*/
  .counter-left {
    width: 44%;
  }
  /*=================================
  counter styling ends here
=================================*/
  /*=================================
  classes styling starts here
=================================*/
  .classes-list {
    transform: translateX(-918px);
  }
  .classes-list img {
    width: 239px;
  }
  /*=================================
  classes styling ends here
=================================*/
}

/*media query starts*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  h1 a {
    padding-right: 517px;
}

.contact .wrapper {
  width: 56%;
}

footer .wrapper {
  gap: 61px;
}

.classes-list {
  transform: translateX(-1144px);
}


.footer-center {
  padding-left: 42px;
}
.counter-right img {
  width: 100%;
}
.counter-right {
  width: 50%;
}
}
/*media query starts*/
/*media query for 768px starts here*/
@media only screen and (max-width: 640px) {
  h1 a {
    padding-right: 426px;
}
.classes-list {
  transform: translateX(-1273px);
}

.wrapper{
  width: 90%;
}
.contact,.services ,.schedule ,.classes {
  padding: 38px 0 55px;
}


.footer-center {
  padding-left: 0;
}

.footer-up{
  width: 100%;
}
.footer-center{
  width: 20%;
}

.email-button input {
  width: 100%;
}

footer {
  padding: 50px 0 30px;
}
footer .wrapper {
  gap: 31px;
}
}

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 996px) {
  .header-right a:hover {
    background-color: #48d494;
    color: #f0f8ff;
    cursor: pointer;
    transition: all 1s;
  }

  .nav-list a:hover {
    border-bottom: 1.5px solid #f0f8ff;
    cursor: pointer;
    transition: all 1s;
  }

  .counter-left a:hover {
    background-color: #f0f8ff;
    color: #48d494;
    cursor: pointer;
    transition: all 1s;
  }
  .next-previous span:hover::before {
    color: #48d494;
    cursor: pointer;
    transition: all 1s;
  }

  .days-list a:hover {
    background-color: var(--tertiary-color);
    color: #f0f8ff;
  }
  .join-button:hover {
    color: aliceblue;
  }

  .send-button button:hover {
    background-color: #f0f8ff;
    color: #48d494;
    cursor: pointer;
    transition: all 1s;
  }

  .subscribe-email button:hover {
    background-color: #f0f8ff;
    color: #48d494;
    cursor: pointer;
    transition: all 1s;
  }

  .links a:hover {
    color: #f0f8ff;
    cursor: pointer;
    transition: all 1s;
  }

  .footer-down a:hover {
    color: #f0f8ff;
    cursor: pointer;
    transition: all 1s;
  }
}
