@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

/* img {
  width: 100%;
  border: 0;
  vertical-align: middle;
} */

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 58%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=================================
  Header styling starts here
=================================*/
body {
  background-color: #000000;
  color: #f0f8ff8f;
}

.first-letter-caps {
  text-transform: capitalize;
}

.single-letter-caps::first-letter {
  text-transform: uppercase;
}

.all-caps {
  text-transform: uppercase;
}

header .wrapper {
  width: 100%;
  padding: 20px 6.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 4;
  top: 0%;
}

header a {
  color: #f0f8ff;
}

.hamburger {
  display: none;
}

h1 a {
  font-size: 14px;
  font-weight: 900;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list {
  font-size: 13px;
}

.nav-list a {
  padding: 5px 0px;
}

.header-right a {
  padding: 6px 12px;
  border: 0.5px solid #48d494;
  border-radius: 3px;
  color: #48d494;
  font-size: 11px;
}

.nav-list-a-border {
  border-bottom: 1.5px solid #f0f8ff;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner {
  position: relative;
}

.banner .wrapper {
  width: 100%;
}

.banner img {
  width: 100%;
}

.banner-content {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  color: #f0f8ff;
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  transform: translate(-50%, -50%);
}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  counter styling starts here
=================================*/
.counter {
  padding: 56px 0px;
}

.counter .wrapper {
  width: 58%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.counter-list {
  display: flex;
  justify-content: space-between;
}

.counter-list li {
  display: flex;
  align-items: end;
  gap: 15px;
}

.counter-list span:nth-child(0) {
  color: #48d494;
}

.icon {
  display: flex;
  text-indent: -9999px;
}

.icon::before {
  padding-bottom: 6px;
  display: flex;
  color: #48d495bd;
  font-size: 31px;
  font-family: FontAwesome;
  text-indent: 0px;
}

.members::before {
  content: "\f44b";
}

.visitors::before {
  content: "\f206";
}

.health::before {
  content: "\f5d1";
}

.heart::before {
  content: "\f21e";
}

.count {
  display: flex;
  flex-direction: column;
}

.count-up {
  color: #f0f8ff;
  font-size: 30px;
  font-weight: 600;
}

.count-down {
  font-size: 11px;
}

.counter-down {
  display: flex;
  justify-content: space-between;
}

.counter-left {
  width: 40%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counter-right img {
  box-shadow: 7px 7px #48d494;
}

.common-heading {
  color: #48d494;
  font-size: 33px;
  font-weight: 900;
}

.common-para {
  font-size: 12px;
  line-height: 21px;
}

.counter-left a {
  padding: 13px 16px;
  border-radius: 3px;
  background-color: #48d494;
  color: #000;
  font-size: 8.5px;
  font-weight: 900;
  letter-spacing: 0.5px;
}
/*=================================
  counter styling ends here
=================================*/
/*=================================
  classes styling starts here
=================================*/
.classes {
  padding: 56px 0px;
}

.classes .wrapper {
  width: 100%;
}

.classes-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  transform: translateX(-1252px);
  transition: transform 1s;
}

.classes-list li {
  width: 25%;
}

.common-div {
  width: 364px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.classes .common-div {
  margin: 0 21%;
}

.next-previous {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.next-previous span {
  display: flex;
  text-indent: -9999px;
}

.next-previous span::before {
  padding-top: 23px;
  display: flex;
  color: #fff;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 900;
  text-indent: 0px;
}

.next-previous-onclick {
  color: #48d494;
}
.previous::before {
  content: "\3c";
}
.next::before {
  content: "\3e";
}
/*=================================
  classes styling ends here
=================================*/
/*=================================
  schedule styling starts here
=================================*/
.schedule {
  padding: 56px 0;
}

.days-list {
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center
}

.days-list a {
  padding: 11px 13px;
  border-radius: 3px;
  color: #48d494;
  font-size: 12px;
}

.day-onclick {
  background-color: #48d494;
  color: #f0f8ff;
}

.time-table {
  display: flex;
  flex-direction: column;
}

.time-table li {
  border: 0.5px solid #f0f8ffbd;
  border-left: none;
  border-top: none;
  display: flex;
}

.time-table li:first-child {
  border-top: 0.5px solid #f0f8ffbd;
}

.program {
  width: 24.5%;
  border: 0.5px solid #f0f8ffbd;
  border-bottom: none;
  border-top: none;
}

.time {
  width: 33%;
}

.trainer {
  width: 24.5%;
  border: 0.5px solid #f0f8ffbd;
  border-bottom: none;
  border-top: none;
}


.table-data{
  padding: 16px 8px;
  color: #f0f8ffbd;
  font-size: 12px;
}

.join-button{
  width: 18%;
  color:#48d494 ;
  text-align: center ;
}
/*=================================
  schedule styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
