/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

/* img {
  width: 100%;
  border: 0;
  vertical-align: middle;
} */

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 58%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*=================================
  Header styling starts here
=================================*/
:root {
  --primary-color:#48d494;
  --secondary-color:#f0f8ff ;
}

body {
  background-color: #000;
  color: #f0f8ff8f;
}

.first-letter-caps { text-transform: capitalize; }
.single-letter-caps::first-letter { text-transform: uppercase; }
.all-caps { text-transform: uppercase; }

header {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  z-index: 4;
  top: 0%;
}

header .wrapper {
  width: 87%;
  margin: auto;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a { color: var(--secondary-color); }
.hamburger { display: none; }

h1 a {
  font-size: 14px;
  font-weight: 900;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.nav-list { font-size: 13px; }
.nav-list a { padding: 5px 0px; }

.header-right a {
  padding: 6px 12px;
  border: 0.5px solid var(--primary-color);
  border-radius: 3px;
  color: var(--primary-color);
  font-size: 11px;
}

.nav-list-a-border { border-bottom: 1.5px solid  var(--secondary-color); }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner { position: relative; }
.banner .wrapper { width: 100%; }
.banner img { width: 100%; }

.banner-content {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  color:  var(--secondary-color);
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  counter styling starts here
=================================*/
.counter { padding: 56px 0px; }

.counter .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

.counter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.counter-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 15px;
}

.counter-list span:nth-child(0) { color:var(--primary-color); }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}

.icon::before {
  padding-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1e905c;
  font-size: 31px;
  font-family: FontAwesome;
  text-indent: 0px;
}

.members::before { content: "\f44b"; }
.visitors::before { content: "\f206"; }
.health::before { content: "\f5d1"; }
.heart::before { content: "\f21e"; }

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.count-up {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 600;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.count-down { font-size: 11px; }

.counter-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.counter-left {
  width: 40%;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.counter-right img { -webkit-box-shadow: 7px 7px var(--primary-color); box-shadow: 7px 7px var(--primary-color) }

.common-heading {
  padding-right: 20px;
  color: var(--primary-color);
  font-size: 33px;
  font-weight: 900;
}

.common-para {
  font-size: 12px;
  line-height: 21px;
}

.counter-left a {
  padding: 13px 16px;
  border-radius: 3px;
  background-color:var(--primary-color);
  color: #000;
  font-size: 8.5px;
  font-weight: 900;
  letter-spacing: 0.5px;
}
/*=================================
  counter styling ends here
=================================*/
/*=================================
  classes styling starts here
=================================*/
.classes { padding: 56px 0px; }
.classes .wrapper { width: 100%; }

.classes-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transform: translateX(-1251px);
      -ms-transform: translateX(-1251px);
          transform: translateX(-1251px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.common-div {
  width: 363px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}

.classes .common-div { margin-left: 21%; }

.next-previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.next-previous span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}

.next-previous span::before {
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 900;
  text-indent: 0px;
}

.next-previous-onclick { color: var(--primary-color);}
.previous::before { content: "\3c"; }
.next::before { content: "\3e"; }
.classes-list-onclick{ -webkit-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); }
.previous-disable{ visibility: hidden; }
.next-disable{ visibility: hidden; }
/*=================================
  classes styling ends here
=================================*/
/*=================================
  schedule styling starts here
=================================*/
.schedule { padding: 56px 0; }

.days-list {
  margin: auto;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.days-list a {
  padding: 11px 13px;
  border-radius: 3px;
  color: var(--primary-color);
  font-size: 12px;
}

.day-onclick {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.time-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.time-table li {
  border: 0.5px solid #f0f8ffbd;
  border-left: none;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-table li:first-child { border-top: 0.5px solid #f0f8ffbd; }

.program {
  width: 24.5%;
  border: 0.5px solid #f0f8ffbd;
  border-bottom: none;
  border-top: none;
}

.time { width: 33%; }

.trainer {
  width: 24.5%;
  border: 0.5px solid #f0f8ffbd;
  border-bottom: none;
  border-top: none;
}

.table-data {
  padding: 16px 8px;
  color: #f0f8ffbd;
  font-size: 12px;
}

.join-button {
  width: 18%;
  color: var(--primary-color);
  text-align: center;
}
/*=================================
  schedule styling ends here
=================================*/
/*=================================
  services styling starts here
=================================*/
.services { padding: 60px 0 67px; }

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-list li {
  width: 31.5%;
  padding: 35px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color:var(--primary-color);
  color: var(--secondary-color);
}

.service-list p {
  font-size: 12px;
  line-height: 21px;
}

.service-list span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}

.service-list span::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "FontAwesome";
  font-size: 40px;
  text-indent: 0px;
}

.aerobics::before { content: "\f21e"; }
.banana::before { content: "\f5d1"; }
.gym::before { content: "\f496"; }
.service-list h4 { padding: 20px 0 13px; }
/*=================================
  services styling ends here
=================================*/
/*=================================
  contact styling starts here
=================================*/
.contact {
  padding: 60px 0 67px;
  background-color: #121212;
}

.contact .wrapper { width: 35%; }

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name div { width: 47.9%; }

.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1.5px solid var(--secondary-color);
  background-color: transparent;
  font-size: 11px;
}

.contact textarea {
  height: 169px;
  resize: none;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.send-button button {
  padding: 13px 68px;
  border: none;
  border-radius: 3px;
  background-color:var(--primary-color);
  color: #000 ;
  font-size: 8.5px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.contact p { padding: 12px 0 28px; }

.input-border {
  border: 1.5px solid #ff0000;
  border-radius: 2px;
}

.div-span {
  color: #ff0000;
  font-size: 10px;
}

input,textarea{ color: #f0f8ffbd; }
/*=================================
  contact styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer { padding: 80px 0; }

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 110px;
}

.footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h5 {
  margin-bottom: 15px;
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
}

footer p {
  font-size: 11px;
  line-height: 20px;
}

.footer-left,
.footer-center,
.footer-right { width: 33.3%; }

.footer-center { padding-left: 58px; }

.links {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.links a {
  color: var(--primary-color);
  font-size: 12px;
}

.subscribe-email {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email-button input {
  padding: 8px;
  background-color: transparent;
  border: 1.5px solid var(--secondary-color);
  border-right: none;
  font-size: 11px;
}

.subscribe-email button {
  padding: 8.5px;
  border: none;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  background-color:var(--primary-color);
  color: #000;
  font-size: 8px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.footer-down span {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.footer-down a { color: var(--primary-color);}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1440px) {

  .wrapper { width: 63%; }
  .classes-list { -webkit-transform: translateX(-1251px); -ms-transform: translateX(-1251px); transform: translateX(-1251px); }
  .classes .common-div { margin-left: 18.5%; }
  .counter-left { width: 48%; }

}

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {

  .classes-list { -webkit-transform: translateX(-1248px); -ms-transform: translateX(-1248px); transform: translateX(-1248px); }

}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {

  .classes-list { -webkit-transform: translateX(-1505px); -ms-transform: translateX(-1505px); transform: translateX(-1505px); }
  .wrapper { width: 80%; }
  .classes .common-div { margin-left: 10%; }
  .contact .wrapper { width: 43%; }

}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /*=================================
  Header styling starts here
=================================*/
  .hamburger {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .hamburger {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3px;
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
  }

  .line {
    width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 4px;
    text-indent: -9999px;
  }

  .line2-onclick {
    display: none;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .line1-onclick {
    -webkit-transform: rotate(-45deg) translateX(-2px);
        -ms-transform: rotate(-45deg) translateX(-2px);
            transform: rotate(-45deg) translateX(-2px);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }

  .line3-onclick{
    -webkit-transform: rotate(45deg) translateX(0px);
        -ms-transform: rotate(45deg) translateX(0px);
            transform: rotate(45deg) translateX(0px);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }

  .line::before {
    content: "";
    width: 17px;
    border-bottom: 3px solid #f0f8ff8f;
    border-radius: 2px;
    display: inline-block;
  }

  .nav-list{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0%;
    background-color: #000;
    font-size: 15px;
    gap: 20px;
    text-align: center;
    -webkit-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
            transform: translateX(-1000px);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .nav-list-onclick{
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .nav-list a { color: var(--primary-color); }

  .nav-list-a-onclick{
    color: var(--secondary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  header .wrapper {
    width: 94%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-content {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .body-onclick { overflow: hidden;}
  /*=================================
  Header styling ends here
=================================*/
  /*=================================
  banner styling starts here
=================================*/
  .banner-content { font-size: 50px; }
  .wrapper { width: 80%; }
  /*=================================
  banner styling ends here
=================================*/
  /*=================================
  counter styling starts here
=================================*/
  .counter-left { width: 44%; }
  /*=================================
  counter styling ends here
=================================*/
  /*=================================
  classes styling starts here
=================================*/
  .classes-list { -webkit-transform: translateX(-918px); -ms-transform: translateX(-918px); transform: translateX(-918px); }
  .classes-list img { width: 239px; }
  /*=================================
  classes styling ends here
=================================*/
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
/*=================================
 counter styling starts here
=================================*/
.counter-right img { width: 100%; }
.counter-right { width: 50%; }
/*=================================
 counter styling ends here
=================================*/
/*=================================
 contact styling starts here
=================================*/
.contact .wrapper { width: 56%; }
/*=================================
 contact  styling ends here
=================================*/
/*=================================
  classes styling starts here
=================================*/
.classes-list { -webkit-transform: translateX(-1144px); -ms-transform: translateX(-1144px); transform: translateX(-1144px); }
/*=================================
footer styling starts here
=================================*/
.footer-center { padding-left: 42px; }
footer .wrapper { gap: 61px; }
/*=================================
  footer styling ends here
=================================*/
}

/*media query for 640px starts here*/
@media only screen and (max-width: 640px) {
/*=================================
  classes styling starts here
=================================*/
.wrapper { width: 90%; }
.classes-list { -webkit-transform: translateX(-1273px); -ms-transform: translateX(-1273px); transform: translateX(-1273px); }

.contact,
.services,
.schedule,
.classes { padding: 38px 0 55px; }
/*=================================
  classes styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
.footer-center { padding-left: 0; }
.footer-up { width: 100%; }
.footer-center { width: 20%; }
.email-button input { width: 100%; }
footer { padding: 50px 0 30px; }
footer .wrapper { gap: 31px; }
/*=================================
  footer styling ends here
=================================*/
}

/*media query for 768px starts here*/
@media only screen and (max-width: 480px) {
  /*=================================
  banner styling starts here
=================================*/
.wrapper { width: 80%; }

.banner-content {
  width: 90%;
  font-size: 50px;
}

.banner img {
  height: 94vh;
  -o-object-fit: cover;
     object-fit: cover;
}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  service styling starts here
=================================*/
.service-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  text-align: center;
}

.service-list span { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.service-list li { width: 90%; }

.service-list li {
  width: 90%;
  margin: auto;
}
/*=================================
  service styling ends here
=================================*/
/*=================================
  counter styling starts here
=================================*/
.counter { padding: 30px 0 60px; }
.counter-left { padding-top: 10px; }
.counter-left { gap: 9px; }
.counter-left p { margin-bottom: 10px; }

.counter-down {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.counter-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.common-heading,
.common-para,
.get-in-touch { text-align: center; }

.common-heading { padding-right: 0; }
.icon::before { font-size: 35px; }
.count-up { font-size: 33px; }
.count-down { font-size: 14px; }
.counter .wrapper { gap: 30px; }

.counter-left,
.counter-right {width: 100%; }

.counter-left a { width: 100%; }
.health::before { padding-left: 9px; }
.heart::before { padding-left: 7px; }

.counter-list li {
  width: 40%;
  gap: 15px;
}

.icon { width: 26%; }
/*=================================
  counter styling ends here
=================================*/
/*=================================
  classes styling starts here
=================================*/
.classes-list img {
  width: 319.8px;
  margin: 0 80.2px;
}

.classes-list { -webkit-transform: translateX(-3363px); -ms-transform: translateX(-3363px); transform: translateX(-3363px); }

.classes .wrapper {
  width: 100%;
  position: relative;
}

.next-previous span::before {
  padding: 10px 12px;
  padding-top: 0;
  border-radius: 21px;
  position: absolute;
  top: 60%;
  background-color: var(--primary-color);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.previous::before { left: 7%; }
.next::before { right: 0%; }

.common-div {
  padding-bottom: 30px;
  gap: 10px;
}

.contact,
.services,
.schedule,
.classes { padding: 38px 0 48px; }

.classes { padding: 38px 0 25px; }
.classes .common-div { margin: auto; }
/*=================================
  classes styling ends here
=================================*/
/*=================================
  contact styling starts here
=================================*/
.contact .wrapper { width: 75%; }
/*=================================
 contact styling ends here
=================================*/
/*=================================
  schedule styling starts here
=================================*/
.schedule .common-div { padding-bottom: 17px; }
.table-data { padding: 12px 6px; }
.days-list a { padding: 11px 9px; }

.days-list {
  margin-bottom: 11px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*=================================
  schedule styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
.footer-up {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

footer p {  padding: 0 35px; } 

footer h5 {
  margin-bottom: 10px;
  font-size: 11px;
}

.footer-left,
.footer-center,
.footer-right {
  width: 80%;
  margin: auto;
  text-align: center;
}

footer .wrapper { gap: 26px; }
.footer-down span { display: inline; }
.send-button button { width: 100%; }
.send-button { text-align: center; }
.links { gap: 4px; }
.subscribe-email { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
/*=================================
  footer styling ends here
=================================*/
}

/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {
/*=================================
  counter styling starts here
=================================*/
  .counter-list li {
    width: 51%;
    gap: 12px;
  }
/*=================================
  counter styling ends here
=================================*/
/*=================================
  classes styling starts here
=================================*/
  .classes-list { -webkit-transform: translateX(-2626.5px); -ms-transform: translateX(-2626.5px); transform: translateX(-2626.5px); }
  .classes-list img { margin: 0 23px; }
  .wrapper { width: 85%; }
  .common-div { width: 304px; }

  .classes-list img {
    width: 290px;
    margin: 0 42.5px;
  }

  .next-previous span::before {
    width: 30px;
    height: 30px;
    padding: 3px 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .next::before { right: -1%; }
  .previous::before { left: 6%; }
/*=================================
  classes styling ends here
=================================*/
/*=================================
  schedule styling starts here
=================================*/
  .schedule .wrapper { width: 90%; }

  .schedule .common-div {
    padding-bottom: 10px;
    margin: auto;
  }
 /*=================================
  schedule styling ends here
=================================*/ 
/*=================================
  footer styling starts here
=================================*/
  .footer-down { text-align: center; }
  .footer-down span { padding: 0; }
/*=================================
  footer styling ends here
=================================*/
}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  /*=================================
  classes styling starts here
=================================*/
  .classes-list {  -webkit-transform: translateX(-2242px);  -ms-transform: translateX(-2242px);  transform: translateX(-2242px);}
  .common-div { width: 290px; }
  .previous::before { left: 8%; }
  .next::before { right: 0%; }
  .next-previous span::before { top: 65%; }

  .classes-list img {
    width: 220px;
    margin: 0 50.1px;
  }

  .next-previous span::before { top: 63%; }
/*=================================
  classes styling ends here
=================================*/
/*=================================
  counter styling starts here
=================================*/
  .counter-list li {
    width: 59%;
    gap: 12px;
  }
  /*=================================
  counter styling ends here
=================================*/
}


/*media query for 995px starts here*/
@media only screen and (min-width: 996px) {
  .header-right a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .nav-list a:hover {
    border-bottom: 1.5px solid var(--secondary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .counter-left a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .next-previous span:hover::before {
    color: var(--primary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .days-list a:hover {
    background-color:var(--primary-color);
    color: var(--secondary-color);
  }

  .join-button:hover { color: var(--secondary-color); }

  .send-button button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .subscribe-email button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .links a:hover {
    color: var(--secondary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .footer-down a:hover {
    color: var(--secondary-color);
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
}